.buttons {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 50%;
    margin: auto 25%;
    grid-auto-rows: minmax(50px, auto);
   // grid-auto-columns: minmax(50px, auto);
}